@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Limelight);
body {
  color: #212223;
  background: #FFF;
  font-family: "Libre Baskerville", sans-serif;
}

#header {
  height: 60px;
  width: 100%;
  background: #212223;
}
@media only screen and (max-width: 768px) {
  #header {
    height: auto;
  }
}
#header ul.top-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#header ul.top-nav li {
  display: inline-block;
}
#header ul.top-nav li a {
  font-size: 1.2em;
  color: #FFF;
  line-height: 60px;
  height: 60px;
  padding: 0 50px;
  display: block;
  text-decoration: none;
}
#header ul.top-nav li a:hover, #header ul.top-nav li a.active {
  background: black;
}
#header .menu-bar a {
  color: #FFF;
  line-height: 60px;
  font-size: 1.2em;
}
#header ul.mob-nav {
  width: 100%;
  background: #212223;
}

#hero {
  width: 100%;
  background: url(../img/top2.png) center bottom repeat-x;
  text-align: center;
}
#hero h1 {
  color: #212223;
  margin: 20px 0 0;
  padding: 20px 0 0;
  font-family: "Limelight", cursive;
  font-size: 7em;
  line-height: 1em;
}
@media only screen and (max-width: 768px) {
  #hero h1 {
    font-size: 4em;
    line-height: 1.1em;
  }
}
@media only screen and (max-width: 480px) {
  #hero h1 {
    font-size: 2.5em;
    line-height: 1.1em;
  }
}
#hero h1 a {
  color: #212223;
}
#hero h2 {
  color: #212223;
  margin: 0 0 50px;
  padding: 0;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 2.5em;
  line-height: 70px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  #hero h2 {
    padding-top: 30px;
    font-size: 2em;
    line-height: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  #hero h2 {
    padding-top: 30px;
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
#hero .sub-header-hero {
  color: #212223;
  margin: 20px 0 0;
  padding: 20px 0 0;
  font-family: "Limelight", cursive;
  font-size: 4em;
  line-height: 1em;
}
@media only screen and (max-width: 768px) {
  #hero .sub-header-hero {
    font-size: 3em;
    line-height: 1.1em;
  }
}
@media only screen and (max-width: 480px) {
  #hero .sub-header-hero {
    font-size: 2em;
    line-height: 1.1em;
  }
}
#hero .hero-tickets {
  margin: 0 0 70px;
}

a.art-deco-button {
  padding: 20px 40px;
  background: #212223;
  color: #FFF;
  border: 4px double #666;
  margin: 10px 0;
}
a.art-deco-button:hover {
  text-decoration: none;
  border: 4px double #FFF;
}

a.adb-smaller {
  padding: 10px 20px;
}

#header-info {
  background: url(../img/info.png) center bottom;
  text-align: center;
}
#header-info h3 {
  color: #212223;
  margin: 0;
  padding: 0;
  font-family: "Limelight", cursive;
  font-size: 2em;
  line-height: 2em;
}
@media only screen and (max-width: 768px) {
  #header-info h3 {
    font-size: 1.6em;
    line-height: 1.1em;
    margin: 0 0 30px;
  }
}
#header-info .info {
  padding: 30px 20px 40px;
  font-size: 1.7em;
  line-height: 1.5em;
  color: #000;
  flex: 1;
}
@media only screen and (max-width: 768px) {
  #header-info .info {
    font-size: 1.2em;
    line-height: 1.4em;
  }
}

.content {
  padding: 10px 0 30px 0;
}

.content-darker {
  padding: 10px 0 30px 0;
  background: #f5f5f5;
}

.bar-back {
  background: url("../img/bar.png");
  background-size: cover !important;
}

p.big-intro {
  text-align: center;
  padding: 60px 20px 0px;
  font-size: 1.7em;
  line-height: 1.5em;
}
@media only screen and (max-width: 768px) {
  p.big-intro {
    font-size: 1.2em;
    padding: 30px 20px 0px;
  }
}

h3.big-intro {
  text-align: center;
  padding: 60px 20px 0px;
  font-weight: 700;
  font-size: 1.7em;
  line-height: 1.5em;
}
@media only screen and (max-width: 768px) {
  h3.big-intro {
    font-size: 1.2em;
    padding: 30px 20px 0px;
  }
}

.ticket {
  margin: 40px 0 20px;
  min-height: 300px;
  border: 4px double #666;
  text-align: center;
}
.ticket h4 {
  color: #212223;
  margin: 0;
  padding: 30px 0 0;
  font-family: "Limelight", cursive;
  font-size: 2.5em;
  line-height: 1em;
}
.ticket h4 a {
  color: #212223;
  text-decoration: none;
}
.ticket h4 a:hover {
  color: black;
}
.ticket h5 {
  color: #212223;
  margin: 0;
  padding: 10px 0 30px;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1.5em;
}
.ticket img.border-image {
  border: 4px double #666;
  margin: 0 0 40px;
}
@media only screen and (max-width: 768px) {
  .ticket img.border-image {
    border: none;
    width: 100%;
  }
}
.ticket p {
  padding: 0 30px 30px;
  font-size: 1.2em;
}
@media only screen and (max-width: 768px) {
  .ticket p {
    padding: 0 10px 30px;
  }
}

h4.sub-header {
  text-align: center;
  color: #212223;
  margin: 0;
  padding: 30px 0;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 2.5em;
  line-height: 1em;
}

h4.sub-header.border {
  background: url("../img/simple_border1.png") no-repeat center bottom;
  margin: 0 0 30px;
}

.bar-back h4.sub-header {
  color: #FFF;
}

h5.sub-header {
  text-align: center;
  color: #212223;
  margin: 0;
  padding: 0 0 30px;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1.3em;
  line-height: 1em;
}

.bar-back h5.sub-header {
  color: #FFF;
}

.speaker-slots {
  margin: 30px 0;
}
.speaker-slots .speaker-text {
  font-size: 1.6em;
  line-height: 1.5em;
  color: #FFF;
}
@media only screen and (max-width: 768px) {
  .speaker-slots .speaker-text {
    padding: 0 10px 30px;
    margin-top: 30px;
    font-size: 1.2em;
    line-height: 1.4em;
  }
}

.speaker-slots .speaker-box {
    margin-bottom: 10px;
}

.speaker-slot-fp {
  height: 250px;
  border: 4px double #FFF;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.speaker-slot-fp:hover {
  opacity: 1;
}
.speaker-slot-fp .speaker-image {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}
.speaker-slot-fp .speaker-info {
  position: absolute;
  bottom: 5%;
  width: 80%;
  left: 10%;
  opacity: 0.8;
  padding: 5px;
  background: #FFF;
  text-align: center;
  border: 4px double #666;
  transition: all 0.3s;
}
.speaker-slot-fp:hover .speaker-info {
  opacity: 1;
}
.speaker-slot-fp .speaker-info hr {
  margin: 5px 0;
}
.speaker-slot-fp a {
  color: #212223;
}

.venue {
  padding: 0 30px 30px;
  font-size: 1.2em;
  line-height: 1.6em;
}

.narrator {
  border: 4px double #666;
  padding: 30px 20px;
}
.narrator .narrator-name {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin: 0 0 20px;
}
.narrator .narrator-blurb {
  margin: 0 0 10px;
}

.sponsor, .newsponsor {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .sponsor, .newsponsor {
     margin-top: 30px;
      margin-bottom: 30px;
  }
}
.sponsor-name {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin: 20px 0 0;
}
 .sponsor-meta {
  text-transform: uppercase;
}
 .sponsor-name.smaller {
  font-size: 1.2em;
  line-height: 1.5em;
}
.sponsor-meta.smaller {
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.5em;
}

#footer {
  margin: 40px 0 0;
  width: 100%;
  background: #212223;
  padding: 30px 0 20px;
  color: #999999;
}
#footer ul.footer-nav {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
#footer ul.footer-nav li a {
  font-size: 1.1em;
  color: #FFF;
}
@media only screen and (max-width: 1024px) {
  #footer .text-right {
    text-align: left;
  }
}

.slicknav_menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .slicknav_menu {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  #menu {
    display: none;
  }
}

.art-deco-border-image {
  border: 4px double #666;
  margin: 0 0 40px;
}
@media only screen and (max-width: 768px) {
  .art-deco-border-image {
    border: none;
    width: 100%;
  }
}

.speaker-description {
  margin: 0;
}
.speaker-description p {
  text-align: left;
  padding: 0px 20px 30px;
  font-size: 1.3em;
  line-height: 1.5em;
}
@media only screen and (max-width: 768px) {
  .speaker-description p {
    font-size: 1.1em;
    padding: 0px 20px 30px;
  }
}

.starring {
  margin: 0 0 50px !important;
}

.hack.sponsor img {
  width: 100%;
}

.speaker-talk-title {
  text-align: left;
  padding: 0px 20px 30px;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 700;
}

.schedule a {
  color: #000000;
}
